<img src="images/chorekeeper_banner.png" alt="banner" width="100%"/>

<div id="title_banner" width="100%"> 
	<h1 id="appTitle">ChoreKeeper</h1>
	<p>Winning at home one chore at a time</p>
</div> 

<div id="indexBody">
	<div class="row"> 
		<div class="col s4"> 
			<img src="images/broom.png" alt="broom">
			<h5>Keep track of chores</h5>
		</div> 
		<div class="col s4"> 
			<img src="images/home.png" alt="house">
			<h5>Invite your housemates to join</h5>
		</div> 
		<div class="col s4"> 
			<img src="images/graph.png" alt="graph">
			<h5>Compare chorekeeping over time</h5>
		</div> 
	</div> 
</div>