<div id="navbar" width="100%"></div>
<img src="images/chorekeeper_banner.png" alt="banner" width="100%"/>

<h4>Record a New Chore</h4>



	<div class="row">
		<form class="col s12">
			<div class="row">
				<div class="input-field col s4">
					<select ng-model = "newChore.choreType">
				      <!-- <option value="" disabled selected>Choose one</option> -->
				      <option ng-repeat = "chore in chores track by $index">{{chore }}</option>
					<label class="active">Chore Type</label>
					<select ng-model = "newChore.name" id="test">
				      <option value="" disabled selected>Choose one</option>
				      <option ng-repeat= "chore in chores track by $index">{{ chore }}</option>
				      <option class="editable" value="Create new chore type">Create new chore type</option>
				    </select>
				</div>
				<div class="input-field col s4">
				    <input class="editOption" style="display:none;" placeholder="Type in a new chore type" ng-model="newChore.newName"></input>
				    

				</div>
			</div>
			<div class="row">
				<div class="input-field col s4">
					<input id="completed" type="date" class="datepicker" ng-model="newChore.completed">
					<label for="completed">Date Completed</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s4">
					<textarea id="description" class="materialize-textarea" length="100" ng-model="newChore.description"></textarea>
					<label for="description">Description</label>
				</div>
			</div>
			<div class="row">
				<a class="waves-effect waves-light btn" ng-click="create()">Create</a>
			</div>
		</form>
	</div>

	<script>
		$(document).ready(function() {
	    $('select').material_select();


	    window.picker = $('.datepicker').pickadate({

	        selectYears: 2, // Creates a dropdown of 15 years to control year
	        maxDate: new Date(),
	        format: 'yyyy-mm-dd'
	    	});

			});

		$('input#input_text, textarea#description').characterCounter();

		var initialText = $('.editable').val();
		$('.editOption').val(initialText);

		$('#test').change(function(){
		var selected = $('option:selected', this).attr('class');
		var optionText = $('.editable').text();

		if(selected == "editable"){
		  $('.editOption').show();

		  
		  $('.editOption').click(function(){
		      var editText = $('.editOption').val();
		      $('.editable').val(editText);
		      $('.editable').html(editText);
		  });

		}else{
		  $('.editOption').hide();
		}
		});
	</script>

