<h4>Register</h4>
  	<div class="row">
	  <form class="col s12" ng-submit="register()">
	    <div class="row">
	      <div class="input-field col s6">
	        <input id="first_name" type="text" class="validate" ng-model="newUser.firstName">
	        <label for="first_name">First Name</label>
	      </div>
	      <div class="input-field col s6">
	        <input id="last_name" type="text" class="validate" ng-model="newUser.lastName">
	        <label for="last_name">Last Name</label>
	      </div>
	    </div>
	    <div class="row">
	      <div class="input-field col s12">
	        <input id="email" type="email" class="validate" ng-model="newUser.email">
	        <label for="email">Email</label>
	      </div>
	    </div>
	    <div class="row">
	      <div class="input-field col s6">
	        <input id="password" type="password" class="validate" ng-model="newUser.password">
	        <label for="password">Password</label>
	      </div>
	      <div class="input-field col s6">
	        <input id="confirmPassword" type="password" class="validate">
	        <label for="confirmPassword">Confirm Password</label>
	      </div>
	    </div>
	       <input class="waves-effect waves-light btn" type="submit" value="Submit">
	  </form>
	</div>