<div id="navbar" width="100%"></div> 

<img src="images/chorekeeper_banner.png" alt="banner" width="100%"/>

<div class="body">

	<h2>Welcome to ChoreKeeper, {{ user.firstName }}! </h2>

	<p>Wait! Before you grab your duster, you should...</p>

	<div class="row"> 
		<div class="col s5"> 
			<a href="#!/joinHouse"><img src="images/housemates.png" alt="housemates"></a>
			<h5>Join a household</h5>
		</div> 
		<div class="col s2"> 
			<h3>OR</h3>
		</div> 
		<div class="col s5"> 
			<a href="#!/createHouse"><img src="images/home.png" alt="house"></a>
			<h5>Create a household</h5>
		</div> 
	</div> 

</div>